{% extends "base.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center">
  <div>
    {% if user.photo_0 %}
    <img src="{{ user.photo_0.url }}" alt="Profile Image" />
    {% endif %}
  </div>
  <div>
    <h1 class="font-bold text-xl m-2">{{ user.username }}</h1>
    <h1 class="font-bold text-xl m-2">{{ user.email }}</h1>
    <h1 class="font-bold text-xl m-2">{{ user.first_name }}</h1>
    <h1 class="font-bold text-xl m-2">{{ user.last_name }}</h1>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="p-10" id="form-container">
    <form id="my-form" method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      {{ form.username }} {{ form.email }} {{ form.first_name }} {{ form.last_name }}
      <div>
        {% comment %} {{ form.image.label_tag }} {% endcomment %}
        {{ form.photo_0 }}
      </div>
      <button type="submit">Зберегти зміни</button>
    </form>
  </div>
</div>
{% endblock content %}
