{% extends "base.html" %} {% load i18n %}
 {% block head_title %}{% trans "SignIn" %}

 {% endblock %} 
 {% block content %}

<div class="container">
  {% if process == "connect" %}
  <h1>
    {% blocktrans with provider.name as provider %}Connect {{ provider }}{%endblocktrans %}
  </h1>

  <p>
    {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
  </p>
  {% else %}
  <h1 class="red-heading">
    {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{%endblocktrans %}
  </h1>

  <p>
    {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
  </p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <button type="submit">{% trans "Continue" %}</button>
  </form>
</div>

<style>
  /* Add your CSS styles here */

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
  }
  .red-heading {
    color: red;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  form {
    margin-top: 20px;
  }

  button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
  }

  button:hover {
    background-color: #3367d6;
  }
</style>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '813176067126049',
      xfbml      : true,
      version    : 'v17.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
